.profile {
  padding-top: 73px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 51vh;
}

.profile__content {
  min-height: 36vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--white-color);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__list {
  margin: auto;
  max-width: 410px;
  width: 100%;
}

.profile__list-item {
  font-size: 11px;
  line-height: 13px;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border-bottom: 1px solid var(--dark-color-other);
  padding: 16px 0;
  position: relative;
}

.profile__list-item:last-of-type {
  border-bottom: none;
}

.profile__list-input {
  border: 1px solid var(--dark-color-other);
  color: var(--white-color);
  max-width: 150px;
  width: 0;
  height: 0;
  visibility: hidden;
  transform: scale(0);
  text-align: right;
}

.profile__list-input_visible {
  visibility: visible;
  transform: scale(1);
  position: static;
  width: auto;
  height: 21px;
}

.profile__list-input_type_error {
  border-color: var(--danger-color);
  color: var(--danger-color);
}

.profile__list-label {
  font-weight: 500;
}

.profile__list-text {
  font-weight: 400;
}

.profile__list-text_hide {
  display: none;
}

.profile__list-error {
  color: var(--danger-color);
  position: absolute;
  right: 0;
  top: 80%;
  max-width: 225px;
  width: 100%;
  text-align: right;
  background-color: var(--dark-color-other);
}

.profile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile__links-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 0 0 5px;
  text-decoration: none;
}

.profile__links-link_type_edit {
  color: var(--white-color);
}

.profile__links-link_type_exit {
  color: var(--danger-color);
}

@media screen and (max-width: 820px) {
  .profile__form {
    min-height: 70vh;
  }

  .profile__content {
    min-height: 52vh;
    padding-top: 70px;
  }

  .profile__title {
    margin-top: auto;
  }
}

@media screen and (max-width: 520px) {
  .profile__form {
    min-height: 68vh;
  }

  .profile__content {
    min-height: 28vh;
    padding: 0 30px;
  }

  .profile__title {
    margin: 0;
  }
}
