.info-tooltip {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
  box-sizing: border-box;
  padding: 5px;
  min-width: 200px;
  max-width: 420px;
  z-index: 10;
}

.info-tooltip_opened {
  opacity: 1;
  visibility: visible;
}

.info-tooltip_type_success {
  background-color: var(--success-color);
}

.info-tooltip_type_error {
  background-color: var(--danger-color);
}

.info-tooltip__icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

.info-tooltip__title {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: var(--white-color);
}

@media screen and (max-width: 520px) {
  .info-tooltip {
    max-width: 260px;
  }
}